div {
  border: 1px solid grey;
  padding: 5px;
}

.bedroom {
  background-color: turquoise;
  height: 200px;
}

.bath {
  background-color: olive;
  height: 50px;
  width: 200px;
}

.kitchen {
  background-color: orange;
  display: flex;
  justify-content: flex-end;
  height: 100px;
}

.oven {
  background-color: rgb(227, 69, 69); 
  height: 20px;
}

.sink {
  background-color: rgb(121, 6, 6);
  height: 20px;
}

.living-room {
  background-color: rgb(201, 168, 168);
  height: 200px;
}

.floor-plan {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}